body {
    min-height: 100%;
}

#app {
    min-height: 100%;
    position: relative;
    background-color: #DBDBDB;
}

.container {
    min-height: 100%;
}

.login-form {
    width: 350px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -175px;
}

.input-element {
    border-radius: 25px;
    border: 4px solid #757474;
    background-color: #F5F5F5;
    margin: 5px 0;
}

.input-field {
    width: 350px;
    display: block;
    padding: 12px 18px;
    font-size: 20px;
    font-weight: bold;
}

.submit-button {
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    float: right;
}

.icon-wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-wrapper img {
    width: 50%;
}

.client-question-wrapper {
    min-height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
}

.top-bar {
    width: 100%;
    height: 60px;
    margin-top: -60px;
    background-color: #C2C4C6;
    border-bottom: 2px solid black;
}

.score {
    line-height: 60px;
    font-size: 24px;
    margin-left: 40px;
}

.question-type-icon {
    display: block;
    width: 60px;
    height: 60px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    float: right;
}

.question-type-icon-vitamine-quiz {
    background: #D3D3D3 url('../img/vitamine-quiz.png') 50%;
}

.client-question {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    padding: 20px 0;
}

.client-question-inner {
    min-height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
}

.client-question-inner h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.client-question-inner p {
    font-size: 18px;
    text-align: center;
    margin: 40px 0;
}

.answer {
    background-color: #F5F5F5;
    border-radius: 50px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
}

.answer.active {
    background-color: #757474;
}

.answer.correct {
    background-color: #63AC44;
    color: white;
}

.answer.wrong {
    background-color: #AC5944;
    color: white;
}

.results {
    height: 100%;
    width: 100%;
}

.result {
    height: 100%;
    float: left;
    margin: 0 30px;
}

.percentage-bar-outer {
    width: 50px;
    height: 100%;
}

.percentage-bar-inner {
    vertical-align: bottom;
    background-color: #16912F;
}

.board-top-bar {
    background-color: #C2C4C6;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.board-top-bar h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.board-category-image {
    padding: 0 30px;
    float: left;
    width: 50%;
}

.board-subcategories {
    float: left;
    width: 50%;
    padding-left: 20px;
}

.board-subcategories ol, h1 {
    margin: 0;
    padding: 0;
}

.board-subcategories h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.board-subcategories ol {
    font-size: 18px;
    margin-left: 20px;
}

.board-question {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px 0;
}

.board-question-inner {
    height: 90%;
    width: 100%;
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
}

.board-answer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #63AC44;
    border-radius: 30%;
    border: 6px solid #54913A;
}

.board-answer span {
    position: absolute;
    width: 100%;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}

.question-navigation {
    position: absolute;
    min-width: 7%;
    height: 100%;
    text-align: center;
    background-color: #C2C4C6;
    opacity: 0.4;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    cursor: pointer;
}

.question-navigation:hover {
    opacity: 0.7;
}

.question-navigation:before {
    font-size: 120px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.prev-question {
    top: 0;
    left: 0;
}

.prev-question:before {
    content: '\00AB'
}

.next-question {
    top: 0;
    right: 0;
}

.next-question:before {
    content: '\00BB';
}

.group:after {
    content: "";
    display: table;
    clear: both;
}