#app {
    height: 100%;
    position: relative;
    background-color: #DBDBDB;
}

.container {
    height: 100%;
}

.login-form {
    width: 350px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -175px;
}

.input-element {
    border-radius: 25px;
    border: 4px solid #757474;
    background-color: #F5F5F5;
    margin: 5px 0;
}

.input-field {
    width: 350px;
    display: block;
    padding: 12px 18px;
    font-size: 20px;
    font-weight: bold;
}

.submit-button {
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    float: right;
}

.icon-wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-wrapper img {
    width: 50%;
}

.client-question {
    height: 100%;
    width: 100%;
    padding: 20px 0;
}

.client-question-inner {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
}

.client-question-inner h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    min-height: 150px;
}

.answer {
    background-color: #F5F5F5;
    border-radius: 50px;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.answer.active {
    background-color: #757474;
}

.results {
    height: 300px;
}

.result {
    height: 100%;
    float: left;
    margin: 0 30px;
}

.percentage-bar-outer {
    width: 50px;
    height: 100%;
}

.percentage-bar-inner {
    vertical-align: bottom;
    background-color: #16912F;
}